<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <h1>Login</h1>
    <form method="POST" action="/validateUser">
        <label for="name">Name:</label>
        <input type="text" id="name" value="" name="name">

        <label for="email">Email:</label>
        <input type="text" id="email" value="" name="email">

        <button type="submit">Login</button>

        <a href="/signup">Not a user yet?</a>
        <a href="/rest/api/player/auth/facebook">Login with facebook?</a>
        <a href="/rest/api/player/auth/google">Login with google?</a>
    </form>

</head>

<body>

</body>

</html>