<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>

<h1>Sign up</h1>
<form method="POST" action="/userSignup">
    <label for="name">Name:</label>
    <input type="text" id="name" value="" name="name">

    <label for="email">Email:</label>
    <input type="text" id="email" value="" name="email">

    <button type="submit">Sign up</button>

    <a href="/">Already a user</a>
</form>

<body>

</body>

</html>